<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.garduinoandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviceProfile"/>
        <activity android:name=".ManualIrrigation"/>
        <activity android:name=".DeviceProfileStart"/>
        <activity android:name=".SettingsInformation"/>
        <activity android:name=".IrrigationRules"/>
        <activity android:name=".EditIrrigationRule"/>
        <activity android:name=".TimeConditions"/>
        <activity android:name=".EditTime"/>
        <activity android:name=".EditDate"/>
        <activity android:name=".AddCondition"/>
        <activity android:name=".CreateRule"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>