<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GarduinoFront</display-name>
  <welcome-file-list>
    <welcome-file>AdminMenu.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListUsers</display-name>
    <servlet-name>ListUsers</servlet-name>
    <jsp-file>/UsersList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsers</servlet-name>
    <url-pattern>/UsersList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUsers</display-name>
    <servlet-name>CreateUsers</servlet-name>
    <jsp-file>/UsersList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUsers</servlet-name>
    <url-pattern>/UsersList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDevices</display-name>
    <servlet-name>ListDevices</servlet-name>
    <jsp-file>/UserDevices.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDevices</servlet-name>
    <url-pattern>/UserDevices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateDevices</display-name>
    <servlet-name>CreateDevices</servlet-name>
    <jsp-file>/UserDevices.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDevices</servlet-name>
    <url-pattern>/UserDevices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRules</display-name>
    <servlet-name>ListRules</servlet-name>
    <jsp-file>/Rules.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRules</servlet-name>
    <url-pattern>/Rules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRules</display-name>
    <servlet-name>CreateRules</servlet-name>
    <jsp-file>/Rules.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRules</servlet-name>
    <url-pattern>/Rules</url-pattern>
  </servlet-mapping>
</web-app>