<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GarduinoFront</display-name>
  <welcome-file-list>
    <welcome-file>AdminMenu.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListUsers</display-name>
    <servlet-name>ListUsers</servlet-name>
    <jsp-file>/UsersList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsers</servlet-name>
    <url-pattern>/UsersList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDevices</display-name>
    <servlet-name>ListDevices</servlet-name>
    <jsp-file>/UserDevices.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDevices</servlet-name>
    <url-pattern>/UserDevices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRules</display-name>
    <servlet-name>ListRules</servlet-name>
    <jsp-file>/Rules.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRules</servlet-name>
    <url-pattern>/Rules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUsers</display-name>
    <servlet-name>EditUsers</servlet-name>
    <jsp-file>/UsersList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUsers</servlet-name>
    <url-pattern>/UsersList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUser</display-name>
    <servlet-name>GetUser</servlet-name>
    <jsp-file>/EditUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListConditions</display-name>
    <servlet-name>ListConditions</servlet-name>
    <jsp-file>/Conditions.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListConditions</servlet-name>
    <url-pattern>/Conditions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassRuleID</display-name>
    <servlet-name>PassRuleID</servlet-name>
    <jsp-file>/NewRule.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassRuleID</servlet-name>
    <url-pattern>/NewRule</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetDevice</display-name>
    <servlet-name>GetDevice</servlet-name>
    <jsp-file>/EditDevice.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDevice</servlet-name>
    <url-pattern>/EditDevice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassNewDeviceId</display-name>
    <servlet-name>PassNewDeviceId</servlet-name>
    <jsp-file>/NewDevice.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassNewDeviceId</servlet-name>
    <url-pattern>/PassNewDeviceId</url-pattern>
  </servlet-mapping>
</web-app>